{
    "presets": [
        [
            "@babel/env",
            {
                "targets": {
                    "node": true
                }
            }
        ]
    ],
    "plugins": ["istanbul"]
}
